@model Good_Times2._0.Models.Reservering

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservering</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefoonnummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AantalPersonen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AantalPersonen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Begintijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Begintijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eindtijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eindtijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opmerkingen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opmerkingen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medewerker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medewerker.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
